extend layout

block content

  h2 List of Blogs

  ul.pager
    - if (blogs.prev)
      li.previous.disabled
       a(href="/page/#{blogs.rev}") ← Previous

    - if (blogs.next)
      li.next
       a(href="/page/#{blogs.next}") Next →

  each blog in blogs.results
    h4 #{blog.title} - #{blog.author}
    p #{blog.body}
    a(href="/post/#{blog._id}") View More...

  ul.pager
    - if (blogs.prev)
      li.previous.disabled
       a(href="/page/#{blogs.rev}") ← Previous

    - if (blogs.next)
      li.next
       a(href="/page/#{blogs.next}") Next →